@charset "UTF-8";

/*sidemenu*/

#container {
	width:100%;
	height: auto;
	top: 80px;
	position: relative;
}

#container #side_menu {
  width: 241px;
  background: #FFF;
  border: 1px solid #ccc;
  top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

#side_menu .side_top {
 cursor: pointer;
 display: block;
 padding: 15px 15px 15px 42px;
 color: #4D4D4D;
 font-size: 14px;
 font-weight: bold;
 border-bottom: 1px solid #CCC;
 position: relative;
}

#side_profile {
 cursor: pointer;
 display: block;
 width:220px;
 border: 1px solid #ccc;
 padding: 10px;
 color: #4D4D4D;
 font-size: 14px;
 font-weight: bold;
 position: relative;
 border-radius: 4px;
}

#side_profile span{
	display: inline-block;
}
#today{
	width:48%;
	text-align: left;
}
#total{
	width:48%;
	text-align: right;
}
#profileImg{
	width:100%;
	height: 225px;
	margin:15px 0px 15px 0px;
	border-radius: 8px;
}
#nickFollDiv{
	margin-bottom: 15px;
}
#nickName{
	width:160px;
}
#unfollow{
	color: #4ECCF2;
	text-align: right;
	border-radius: 6px;
	padding: 5px;
}
#tofollow{
	color: white;
	text-align: right;
	background-color: #4ECCF2;
	border-radius: 6px;
	padding: 5px;
}
#follow{
	width:45%;
	text-align: left;
}
#following{
	width:45%;
	text-align: right;
}
#side_menu li:last-child .side_top {
 border-bottom: 0;
}


/**
* side_sub
-----------------------------*/

.side_sub {
  display: none;
  background: #444359;
  font-size: 14px;
}


.side_sub a {
  display: block;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 50px;
  border-bottom: 1px solid #444359;
}

.side_sub a:hover {
  background: #fff;
  color: #666;
  border-bottom: 1px solid #CCC;
}
